@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #28366D;
    font-weight: 400;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #ECECEC;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background:#28366D;
}

.Modal {
    background: transparent;
}
