@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #28366D;
    font-weight: 400;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #ECECEC;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background:#28366D;
}

.Modal {
    background: transparent;
}

.neon {
    color: #fff;
    text-shadow:
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 20px #fff,
            0 0 40px #0ff,
            0 0 80px #0ff,
            0 0 90px #0ff,
            0 0 100px #0ff,
            0 0 150px #0ff;
}
